body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.bg-img {
    background-image: url('background-image.jpg'); /* تغيير background-image.jpg إلى مسار الصورة الخاص بك */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4a77d4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #356ab3;
}

.prediction {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
