<!DOCTYPE html>
<html lang="en" dir="ltr">

      <head>
        <meta charset="utf-8">
        <title>Heart Disease Prediction Model</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		
		<style>
			.content {
			  max-width: 500px;
			  margin: auto;
			}
			
			
			.bg-img{
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-position: center;
			}
			</style>
    </head>
	
<body>
<div class="bg-img">
<div class="content">
    <body>
  
        <h1>Heart Disease Prediction</h1>
        <form action="{{url_for('predict')}}" method="post">
          <input type="text" name="sex" placeholder="Sex" required="required">
          <input type="text" name="age" placeholder="Age" required="required">
          <input type="text" name="Smoker" placeholder="Smoker" required="required">
          <input type="text" name="CigsPerDay" placeholder="Cigs per Day" required="required">
          <input type="text" name="BPMeds" placeholder="Blood Pressure Meds" required="required">
          <input type="text" name="PrevalentStroke" placeholder="Prevalent Stroke" required="required">
          <input type="text" name="PrevalentHyp" placeholder="Prevalent Hyp" required="required">
          <input type="text" name="Diabetes" placeholder="Diabetes" required="required">
          <input type="text" name="Cholesterol" placeholder="Cholesterol" required="required">
          <input type="text" name="sysBP" placeholder="Systolic Blood Pressure" required="required">
          <input type="text" name="diaBP" placeholder="Diastolic Blood Pressure" required="required">
          <input type="text" name="BMI" placeholder="Body Mass Index" required="required">
          <input type="text" name="HeartRate" placeholder="Heart Rate" required="required">
          <input type="text" name="Glucose" placeholder="Glucose" required="required">
          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        <br>
        <br>
        {{ pred_pat }}   		
</div>
</div>
</html>
